sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.08334em;
	font-size: 1em;
	margin:0 auto;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"KRRUAG+DengXian-Light,Bold";
	src:url("da179616-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.25em;
	font-family: "KRRUAG+DengXian-Light,Bold", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1.041992em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"IHDMBW+DengXian-Light,Bold";
	src:url("32840a54-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 1.25em;
	font-family: "IHDMBW+DengXian-Light,Bold";
	color: #000000;
}
@font-face {
	font-family:"KPPLQS+DengXian-Regular";
	src:url("3e472757-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 0.875em;
	font-family: "KPPLQS+DengXian-Regular", "Times New Roman";
	color: #000000;
}
.stl_12 {
	letter-spacing: 0.0052em;
}

.ie .stl_12 {
	letter-spacing: 0.0732px;
}
@font-face {
	font-family:"GEJPWM+DengXian-Regular";
	src:url("7b94a958-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 0.875em;
	font-family: "GEJPWM+DengXian-Regular";
	color: #000000;
}
@font-face {
	font-family:"LTEUWE+Wingdings-Regular";
	src:url("156e8f0f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "LTEUWE+Wingdings-Regular", "Times New Roman";
	color: #4472C4;
}
.stl_15 {
	line-height: 1.109863em;
}
@font-face {
	font-family:"QICSQD+DengXian-Bold";
	src:url("79867684-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 1em;
	font-family: "QICSQD+DengXian-Bold", "Times New Roman";
	color: #4472C4;
}
.stl_17 {
	font-size: 0.875em;
	font-family: "KPPLQS+DengXian-Regular", "Times New Roman";
	color: #4472C4;
}
.stl_18 {
	letter-spacing: 0.0133em;
}

.ie .stl_18 {
	letter-spacing: 0.1868px;
}
.stl_19 {
	letter-spacing: -0.0313em;
}

.ie .stl_19 {
	letter-spacing: -0.4375px;
}
@font-face {
	font-family:"UHAASR+DengXian-Bold";
	src:url("0cde8789-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 0.875em;
	font-family: "UHAASR+DengXian-Bold";
	color: #4472C4;
}
.stl_21 {
	font-size: 0.875em;
	font-family: "QICSQD+DengXian-Bold", "Times New Roman";
	color: #4472C4;
}
.stl_22 {
	letter-spacing: 0.0163em;
}

.ie .stl_22 {
	letter-spacing: 0.2284px;
}
.stl_23 {
	letter-spacing: 0.0095em;
}

.ie .stl_23 {
	letter-spacing: 0.1333px;
}
.stl_24 {
	font-size: 1.166667em;
	font-family: "IHDMBW+DengXian-Light,Bold";
	color: #000000;
}
.stl_25 {
	font-size: 1.166667em;
	font-family: "KRRUAG+DengXian-Light,Bold", "Times New Roman";
	color: #000000;
}
.stl_26 {
	letter-spacing: 0.0075em;
}

.ie .stl_26 {
	letter-spacing: 0.1052px;
}
.stl_27 {
	font-size: 1em;
	font-family: "UHAASR+DengXian-Bold";
	color: #000000;
}
.stl_28 {
	font-size: 1em;
	font-family: "QICSQD+DengXian-Bold", "Times New Roman";
	color: #000000;
}
.stl_29 {
	letter-spacing: -0.0116em;
}

.ie .stl_29 {
	letter-spacing: -0.1628px;
}
.stl_30 {
	letter-spacing: 0.0028em;
}

.ie .stl_30 {
	letter-spacing: 0.0386px;
}
.stl_31 {
	font-size: 0.75em;
	font-family: "QICSQD+DengXian-Bold", "Times New Roman";
	color: #4472C4;
}
.stl_32 {
	font-size: 0.75em;
	font-family: "UHAASR+DengXian-Bold";
	color: #4472C4;
}
.stl_33 {
	letter-spacing: 0.0104em;
}

.ie .stl_33 {
	letter-spacing: 0.1457px;
}
.stl_34 {
	font-size: 0.875em;
	font-family: "QICSQD+DengXian-Bold", "Times New Roman";
	color: #000000;
}
.stl_35 {
	letter-spacing: 0.0039em;
}

.ie .stl_35 {
	letter-spacing: 0.0547px;
}
.stl_36 {
	letter-spacing: -0.0059em;
}

.ie .stl_36 {
	letter-spacing: -0.0829px;
}
.stl_37 {
	font-size: 0.875em;
	font-family: "QICSQD+DengXian-Bold", "Times New Roman";
	color: #FF0000;
}
.stl_38 {
	font-size: 0.875em;
	font-family: "KPPLQS+DengXian-Regular", "Times New Roman";
	color: #FF0000;
}
.stl_39 {
	letter-spacing: 0.0248em;
}

.ie .stl_39 {
	letter-spacing: 0.3479px;
}
.stl_40 {
	letter-spacing: 0.0162em;
}

.ie .stl_40 {
	letter-spacing: 0.2266px;
}
.stl_41 {
	font-size: 0.875em;
	font-family: "LTEUWE+Wingdings-Regular", "Times New Roman";
	color: #4472C4;
}
.stl_42 {
	letter-spacing: 0.0091em;
}

.ie .stl_42 {
	letter-spacing: 0.128px;
}
.stl_43 {
	font-size: 1em;
	font-family: "QICSQD+DengXian-Bold", "Times New Roman";
	color: #0070C0;
}
.stl_44 {
	font-size: 0.875em;
	font-family: "KPPLQS+DengXian-Regular", "Times New Roman";
	color: #0070C0;
}
.stl_45 {
	font-size: 0.875em;
	font-family: "QICSQD+DengXian-Bold", "Times New Roman";
	color: #0070C0;
}
.stl_46 {
	letter-spacing: 0.0212em;
}

.ie .stl_46 {
	letter-spacing: 0.2965px;
}
.stl_47 {
	font-size: 0.875em;
	font-family: "UHAASR+DengXian-Bold";
	color: #0070C0;
}
.stl_48 {
	letter-spacing: 0.001em;
}

.ie .stl_48 {
	letter-spacing: 0.0145px;
}
.stl_49 {
	letter-spacing: 0.0011em;
}

.ie .stl_49 {
	letter-spacing: 0.0147px;
}
.stl_50 {
	letter-spacing: 0.0144em;
}

.ie .stl_50 {
	letter-spacing: 0.2011px;
}
.stl_51 {
	font-size: 0.875em;
	font-family: "GEJPWM+DengXian-Regular";
	color: #0070C0;
}
.stl_52 {
	letter-spacing: 0.0099em;
}

.ie .stl_52 {
	letter-spacing: 0.1388px;
}
.stl_53 {
	letter-spacing: 0.0182em;
}

.ie .stl_53 {
	letter-spacing: 0.255px;
}
.stl_54 {
	letter-spacing: 0.0138em;
}

.ie .stl_54 {
	letter-spacing: 0.1937px;
}
.stl_55 {
	letter-spacing: -0.0097em;
}

.ie .stl_55 {
	letter-spacing: -0.1365px;
}
.stl_56 {
	font-size: 0.875em;
	font-family: "GEJPWM+DengXian-Regular";
	color: #FF0000;
}
.stl_57 {
	letter-spacing: 0.0166em;
}

.ie .stl_57 {
	letter-spacing: 0.2317px;
}
.stl_58 {
	font-size: 0.875em;
	font-family: "GEJPWM+DengXian-Regular";
	color: #4472C4;
}
.stl_59 {
	letter-spacing: 0.0026em;
}

.ie .stl_59 {
	letter-spacing: 0.0361px;
}
.stl_60 {
	letter-spacing: 0.0198em;
}

.ie .stl_60 {
	letter-spacing: 0.2774px;
}
.stl_61 {
	letter-spacing: 0.0027em;
}

.ie .stl_61 {
	letter-spacing: 0.0374px;
}
.stl_62 {
	letter-spacing: 0.0125em;
}

.ie .stl_62 {
	letter-spacing: 0.1745px;
}
.stl_63 {
	letter-spacing: 0.0123em;
}

.ie .stl_63 {
	letter-spacing: 0.1722px;
}
.stl_64 {
	font-size: 0.875em;
	font-family: "UHAASR+DengXian-Bold";
	color: #000000;
}
.stl_65 {
	letter-spacing: 0.0017em;
}

.ie .stl_65 {
	letter-spacing: 0.0235px;
}
.stl_66 {
	letter-spacing: 0.0236em;
}

.ie .stl_66 {
	letter-spacing: 0.3307px;
}
.stl_67 {
	letter-spacing: 0.0044em;
}

.ie .stl_67 {
	letter-spacing: 0.0612px;
}
.stl_68 {
	letter-spacing: 0.0042em;
}

.ie .stl_68 {
	letter-spacing: 0.0588px;
}
.stl_69 {
	letter-spacing: 0.0194em;
}

.ie .stl_69 {
	letter-spacing: 0.2719px;
}
.stl_70 {
	letter-spacing: 0.0031em;
}

.ie .stl_70 {
	letter-spacing: 0.0432px;
}
.stl_71 {
	letter-spacing: 0.0055em;
}

.ie .stl_71 {
	letter-spacing: 0.0773px;
}
.stl_72 {
	letter-spacing: 0.0035em;
}

.ie .stl_72 {
	letter-spacing: 0.0495px;
}
.stl_73 {
	letter-spacing: 0.0214em;
}

.ie .stl_73 {
	letter-spacing: 0.2999px;
}
.stl_74 {
	letter-spacing: 0.013em;
}

.ie .stl_74 {
	letter-spacing: 0.1827px;
}
.stl_75 {
	letter-spacing: 0.0149em;
}

.ie .stl_75 {
	letter-spacing: 0.2086px;
}
.stl_76 {
	font-size: 1em;
	font-family: "QICSQD+DengXian-Bold", "Times New Roman";
	color: #FF0000;
}
.stl_77 {
	letter-spacing: 0.0103em;
}

.ie .stl_77 {
	letter-spacing: 0.1446px;
}
.stl_78 {
	letter-spacing: -0.125em;
}

.ie .stl_78 {
	letter-spacing: -1.75px;
}
.stl_79 {
	letter-spacing: 0.0053em;
}

.ie .stl_79 {
	letter-spacing: 0.0746px;
}
.stl_80 {
	letter-spacing: 0.0045em;
}

.ie .stl_80 {
	letter-spacing: 0.0627px;
}
.stl_81 {
	letter-spacing: 0.0112em;
}

.ie .stl_81 {
	letter-spacing: 0.1574px;
}
.stl_82 {
	letter-spacing: 0.0108em;
}

.ie .stl_82 {
	letter-spacing: 0.1507px;
}
